<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('index/index')}">个人中心</a>
					</li>
					<li class="person">
						<h3 style="color:#f966ff">个人资料</h3>
						<ul>
							<li> <a href="{:url('data/information')}">个人信息</a></li>
							<li> <a href="{:url('data/safety')}">安全设置</a></li>
							<li> <a href="{:url('data/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<h3 style="color:#db66ff">我的交易</h3>
						<ul>
							<li><a href="{:url('deal/shopcart')}">购物车</a></li>
							<li><a href="{:url('deal/order')}">订单管理</a></li>
							<li> <a href="{:url('deal/change')}">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<h3 style="color:#be66ff">我的资产</h3>
						<ul>
							<li> <a href="{:url('assets/coupon')}">优惠券 </a></li>
							<li> <a href="{:url('assets/billlist')}">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
					<h3 style="color:#9b66ff">我的小窝</h3>
						<ul>
							<li> <a href="{:url('home/collection')}">收藏</a></li>
							<li> <a href="{:url('home/commentlist')}">评价</a></li>
							<li> <a href="{:url('home/news')}">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>