<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>发表评论</title>

		<link href="__USER__/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__USER__/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__USER__/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__USER__/css/appstyle.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__USER__/js/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				{include file="../application/index\view\public\top.html"}
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
							<li class="index"><a href="{:url('index/index/index')}">首页</a></li>
								<li class="qc"><a href="{:url('index/search/search')}">产品分类</a></li>
                                <li class="qc"><a href="{:url('index/search/search1')}">基地分类</a></li>                               
                                <li class="qc"><a href="{:url('index/cate/cate')}">优秀基地</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">发表评论</strong> / <small>Make&nbsp;Comments</small></div>
						</div>
						<hr/>

						<div class="comment-main">
						{volist name="order_get_toArray" id="o"}
						{volist name="o['ordergoods']" id="vo1"}
							<div class="comment-list">
							<input type="hidden" name="" value="{$vo1.goods.goods_id}">
								<div class="item-pic">
									<a href="{:url('index/goods/introduction',array('goods_id'=>$vo1.goods_id))}" class="J_MakePoint">
										<img src="{$vo1.goods.goods_thumb}" class="itempic">
									</a>
								</div>

								<div class="item-title">

									<div class="item-name">
										<a href="{:url('index/goods/introduction',array('goods_id'=>$vo1.goods_id))}">
											<p class="item-basic-info">
											{$vo1.goods.goods_name}
											
											</p>
										</a>
									</div>
									<div class="item-info">
										<div class="item-price">
											价格：<strong>{$vo1.goods.goods_after_price}元</strong>
										</div>										
									</div>
								</div>
								<div class="clear"></div>
								<div class="item-comment">
									<textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！"></textarea>
								</div>
								<div class="item-opinion">
									<li><i class="op1"></i>好评</li>
									<li><i class="op2"></i>中评</li>
									<li><i class="op3"></i>差评</li>
								</div>
							</div>

							{/volist}
							{/volist}
														
					<script type="text/javascript">
						$(document).ready(function() {
							$(".comment-list .item-opinion li").click(function() {	
								$(this).prevAll().children('i').removeClass("active");
								$(this).nextAll().children('i').removeClass("active");
								$(this).children('i').addClass("active");
								
							});
				     })
					</script>					
					
												
							
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>
			</div>

			{include file="public/aside"}
		</div>

	</body>
	

</html>